/* 
    Created on : July 27, 2014, 10:45:27 PM
    Author     : emmanueljohn
*/
.social-items{
    transition: margin-top .5s ease-out;
    margin:0px !important;
    padding:0px !important;
}
.social-item{
    width:100%;
    padding: 10px 12px 10px 55px;
    border-width: 0 0 1px;
    position:relative;
    border-bottom: 1px solid #e8e8e8;
}
.social-items a, social-items a:visited{
    color:#707070 !important;
}
.social-items a{
    text-decoration:none;
}
.s-head .avatar {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 4px !important;
}
.social-item .full-name{
    color:#006505;
}